h1{
    color:chocolate;
}

main{
display:flex;
flex-direction: column;

}

#container {
	background-color: lightgrey;
	width: 200px;
	border: 15px solid green;
	padding: 50px;
	margin: 20px;
	
}
button{
    margin:2px;
    width: 70px;
    text-align:center;
}  
.Tree {
	flex: 1;
	margin: 8px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 4px;
}
.Tree membre {
	flex: 1;
	display: flex;
	border: 1px solid black;
	padding: 4px;
	background-color: lightgrey;
	border-radius: 12px;
	width: 300px;
	
}
.Tree membre img {
	display: block;
	
	margin-left: 20px;
	width: 150px;
	object-fit: cover;
}
.Tree membre containerElement {
	width: 100px;
	border: 3px solid black;
	padding: 10px;
	margin: 10px;
	
}
.Tree membre p {
	margin-top: 4px;
	margin-bottom: 4px;
}
.Tree membre h4 {
	text-align: center;
}   
.Tree membre button {
	text-align: center;
	width: 60px;
}  





